<?xml version="1.0"?>

<robot name="apple" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="apple_gazebo" params="name">

    <!-- Dummy Citi Truck base -->
    <gazebo reference="${name}_base">
      <material>Gazebo/White</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>

