<?xml version="1.0"?>
<robot name="apple" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include Utilities -->
  <xacro:include filename="$(find apple_description)/urdf/utilities.xacro" />
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find apple_description)/urdf/apple.gazebo.xacro" />

  <xacro:macro name="half_pallet" params="parent name *origin">

    <!--joint between {parent} and half_pallet -->
    <joint name="${parent}_${name}_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_base"/>
    </joint>

    <link name="${name}_base">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <mass value="5.3"/>
        <inertia ixx="0.48"  ixy="0"  ixz="0" iyy="0.25" iyz="0" izz="0.63" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_description/meshes/half_pallet.stl"/>
        </geometry>
        <material name="Wood"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_description/meshes/half_pallet.stl"/>
        </geometry>
        <material name="Wood"/>
      </collision>
    </link>

    <!--Extensions -->
    <xacro:apple_gazebo name="${name}" />
  
  </xacro:macro>

</robot>
