<?xml version="1.0"?>

<launch>
  <include file="$(find kmo_vehicle_execution)/launch/kuka_fair_booth_onboard.launch" />
  <include file="$(find apple_launch)/launch/lbr_iiwa_vel_control.launch"/>
  <include file="$(find lbr_fri)/launch/fri_launch.launch"/>
  <include file="$(find can_finder)/launch/can_finder.launch"/>
  <include file="$(find velvet_interface_node)/launch/velvet_node.launch"/>
  
  <node name="longLiveCamera" pkg="experiment_console" type="startCamera.sh" respawn="false" output="screen"/>
  <!-- launch the demo palletizing node -->
  <node name="demo_palletizing" pkg="demo_palletizing" type="demo_palletizing" respawn="false" output="screen">
     <param name="with_gazebo" type="bool" value="false"/>
     <remap from="/task_status_array" to="/apple/apple_hqp_vel_controller/task_status_array"/>
     <remap from="/set_tasks" to="/apple/apple_hqp_vel_controller/set_tasks"/>
     <remap from="/remove_tasks" to="/apple/apple_hqp_vel_controller/remove_tasks"/>
     <remap from="/load_tasks" to="/apple/apple_hqp_vel_controller/load_tasks"/>
     <remap from="/reset_hqp_control" to="/apple/apple_hqp_vel_controller/reset_hqp_control"/>
     <remap from="/activate_hqp_control" to="/apple/apple_hqp_vel_controller/activate_hqp_control"/>
     <remap from="/visualize_task_geometries" to="/apple/apple_hqp_vel_controller/visualize_task_geometries"/>
     <remap from="/set_physics_properties" to="/gazebo/set_physics_properties"/>
     <remap from="/get_grasp_interval" to="/find_beer/find_cans"/>
     <remap from="/velvet_grasp" to="/velvet_node/velvet_grasp"/>
     <remap from="/velvet_pos" to="/velvet_node/gripper_pos"/>
     <remap from="/set_stiffness" to="/apple/iiwa_hw_interface/set_stiffness"/>
     <remap from="/execute_truck_task" to="/robot1/next_task"/>
  </node>

 <!--load predifined persistent task descriptions (joint limit avoidance, self-collision avoidance ...) definitions for the HQP controller -->
 <rosparam file="$(find demo_palletizing)/hqp_tasks/task_definitions.yaml" command="load" ns="/apple"/>


</launch>
