<?xml version="1.0"?>

<launch>
  <!-- launch the demo palletizing node -->
  <node name="demo_palletizing" pkg="demo_palletizing" type="demo_palletizing" respawn="false" output="screen">
     <param name="with_gazebo" type="bool" value="true"/>
     <remap from="/task_statuses" to="/apple/apple_hqp_vel_controller/task_statuses"/>
     <remap from="/set_tasks" to="/apple/apple_hqp_vel_controller/set_tasks"/>
     <remap from="/set_task_objects" to="/apple/apple_hqp_vel_controller/set_task_objects"/>
     <remap from="/remove_tasks" to="/apple/apple_hqp_vel_controller/remove_tasks"/>
     <remap from="/remove_task_objects" to="/apple/apple_hqp_vel_controller/remove_task_objects"/>
     <remap from="/activate_hqp_control" to="/apple/apple_hqp_vel_controller/activate_hqp_control"/>
     <remap from="/visualize_task_objects" to="/apple/apple_hqp_vel_controller/visualize_task_objects"/>
     <remap from="/set_physics_properties" to="/gazebo/set_physics_properties"/>
  </node>

<!-- Launch the HQP velocity controller with gazebo -->
  <include file="$(find apple_launch)/launch/apple_gazebo_hqp_vel_control.launch" />

</launch>
