<launch>
<!--Convenience launch file to start gazebo + control--> 

<!--The hardware_interface parameter determines which hardware inteface is used-->
<include file="$(find velvet_fingers_gazebo)/launch/velvet_fingers_world.launch">
  <arg name="hardware_interface" value="EffortJointInterface" />
</include>

<include file="$(find velvet_fingers_control)/launch/velvet_fingers_control.launch">
  <arg name="hardware_interface" value="EffortJointInterface" />
  <arg name="controllers" value="joint_state_controller
			         velvet_fingers_joint_1_effort_pos_controller" />
</include>

<!-- Launch RQT for control tuning -->
 <node name="rrbot_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find velvet_fingers_control)/launch/velvet_fingers_effort_pos_control.perspective"/>

</launch>
