<?xml version="1.0"?>

<launch>
  <!--Convenience launch file to start gazebo + control--> 

  <!--The hardware_interface parameter determines which hardware inteface is used-->
  <include file="$(find apple_gazebo)/launch/apple_world.launch">
    <arg name="hardware_interface" value="VelocityJointInterface" />
  </include>

 <!--load predifined task descriptions (joint limit avoidance, self-collision avoidance ...) definitions for the HQP controller -->
 <rosparam file="$(find apple_launch)/hqp_tasks/joint_limits.yaml" command="load" ns="/apple"/>

  <include file="$(find apple_control)/launch/apple_control.launch">
    <arg name="hardware_interface" value="VelocityJointInterface" />
    <arg name="controllers" value="joint_state_controller
                                  apple_hqp_vel_controller" /> 

  </include>




 <!--node name="hqp_velocity_controller_test" pkg="hqp_controllers" type="hqp_velocity_controller_test"
       output="screen">
 </node-->

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find apple_description)/launch/apple.rviz"/>

  <!-- Launch RQT for control tuning -->
  <!-- <node name="apple_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen"/> -->

</launch>


